/*
    font-family: c;

    font-family: 'Roboto', sans-serif;
синій колір - color: #2196F3;
основний колір - #212121;
додатковий - #757575;
адреса в футері - #FFFFFF
 :root {
        --
}
*/
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #757575;
}
body {
  font-family: var(--main-font);
  color: var(--secondary-color);
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Navigation */
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-first-letters {
  color: var(--accent-color);
}
.menu-link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-link {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contacts-link:focus,
.contacts-link:hover {
  color: var(--accent-color);
}

/* END NAVIGATION */
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

/* BUTTON */
.modal-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: #2196f3;
  color: #ffffff;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #ffffff;
  color: var(--accent-color);
}
/* END BUTTON */

/* ABOUT */
.about-list-suptitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.about-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* END ABOUT */

/* Section WHAT WE DO */
.section-suptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
/* END Section WHAT WE DO */

/* Setion Our Team */

.ourteam-suptitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.ourteam-proffesion {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* End Section Our Team */

/* footer */
.footers {
  background-color: #2f303a;
}

.footers .logo-link {
  color: white;
}
.footer-link-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-mail,
.footer-link-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-mail:hover,
.footer-link-mail:focus,
.footer-link-tel:hover,
.footer-link-tel:focus,
.footer-link-address:hover,
.footer-link-address:focus {
  color: #ffffff;
}
/* end footer */

/* portfolio */
.portfolio-suptitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* end portfolio */
